html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;

    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

/*Header*/

.main-header {
    display: flex;
    min-height: 56px;
    background-color: white;
    justify-content: center;
    position: relative;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-navigation {
    width: 100%;
    padding: 0 72px;
}

.logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

ul.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;

}

.site-navigation li {
    width: 23%;
    text-align: left;
}

.site-navigation li:nth-child(4n + 3) {
    margin-left: auto;
    text-align: right;
}

.site-navigation li:nth-child(4n + 4) {
    text-align: right;
}

.site-navigation a {
    color: #000000;
    display: block;
    padding-top: 14px;
    padding-bottom: 16px;
} 

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation-item.active a{
    color: #766357;
}

/*Главный экран*/
.welcome {
    padding: 75px 0 72px;
    background-color: gray;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: -6px -55px;
    position: relative;
    text-align: center;
    
}

.welcome::after {
   content: "";
   position: absolute;
   width: 1200px;
   height: 59px;
   background-image: url("../img/polygon.svg");
   left: 0;
   bottom: -2px;
}

/*Блок преимуществ*/

.sedona-reasons {
    padding-top: 60px;
    padding-bottom: 51px;
    padding-left: 340px;
    padding-right: 340px;
    background-color: #ffffff;
    margin: 0 auto;
}

.reasons-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.reasons-header{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.2px;
}

.reasons-p {
    margin: 0;
    text-align: center;
    letter-spacing: 0.1px;
}

.feautures {
    margin: 0 auto;  
}

.block-text,
.feauture-item li {
    padding: 46px 44px 62px;
    max-width: 400px;
}

.block-text h3 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;
}

p.number {
    margin: 0 auto;
    margin-bottom: 21px;
}

.own-life {
    margin: 0;
    padding: 0 8px;
    letter-spacing: 0.1px;
}

.block-grey {
    background-color: #eeeeee;
}

.block-grey .block-text {
    background-color: #eeeeee;
}

.block-grey .block-gray-text {
    width: 258px;
}

.block-grey .p-long {
    width: 262px;
}

.block-gray-text {
    margin: 0 auto;
}

.text-white h3,
.text-white p {
    color: #ffffff;
}

.block {
    background-color: #81B3D2;
}

.feauture-item p:last-child {
    margin-bottom: 0px;
}

ol.feautures-list {
    padding: 0;
    margin: 0;
}

.feauture-item .block {
    display: flex;
}

.img-left {
    flex-direction: row-reverse;
}

.recomend-list li{
    padding: 56px 56px;
    padding-bottom: 82px;
}

.feautures-list,
.recomend-list {
    list-style: none;
}

.block-grey ul,
.recomend-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.feauture-item,
.recomend-item {
    text-align: center;
    background-color: #ffffff;
}

.recomend-icon {
    width: 75px;
    height: 77px;
    margin: 0 auto;
    margin-bottom: 25px;
   
}

.icon-house {
    background-image: url("../img/icon-1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-food {
    background-image: url("../img/icon-2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-gift {
    background-image: url("../img/icon-3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.recomend-item h3 {
    margin-bottom: 25px;
}

.recomend-item p {
    letter-spacing: 0.1px;
}

.feautures-list h3 {
    font-size: 21px;
    line-height: 21px;
}

.feautures-list p {
    line-height: 21px;
}

.feauture-img-right {
    width: 800px;
    background-image: url("../img/layer-ten.jpg");
    background-repeat: no-repeat;
}

.feauture-img-left {
    width: 800px;
    background-image: url("../img/layer-five.jpg");
    background-repeat: no-repeat;
}

/*Раздел перед формой и кнопка заявки на бронирование*/
.pre-form {
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;
    background-color: #ffffff;
}

.pre-form-header {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 28px;
    margin-top: 0;
}

.pre-form-text {
    line-height: 24px;
    margin-bottom: 47px;
}

/*кнопка "поиск гостинницы в седоне" */
.button-search-index {
    display: flex;
    width: 568px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.pre-form a {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-search-index a:hover,
.button-search-index a:focus {
    background-color: #604E43;
}

.button-search-index a:active {
    background-color: #503E33;
    color: #847870;
}

button {
    font: inherit;
    text-transform: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

/*Форма заявки на бронирование и карта*/
.map {
    position: relative;
    height: 474px;
    margin: 0 auto;
    background-image: url(../img/map.jpg);
}

.arrival-form {
    width: 568px;
    background-color: #f8f8f8; /*временно*/
    margin: 0 auto;
    padding: 55px;
}

.form-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*широкие поля (дата заезда и дата выезда)*/

.row-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 27px;
}

.long-field input {
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
    width: 346px;
    border: 2px solid transparent;
    right: 0;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 2%;
    padding-right: 8%;
}

.row-form:last-child {
    margin-bottom: 0;
}

.form-fields {
    margin-bottom: 54px;
}

.long-field,
.short-field {
    position: relative;
}

.long-field a {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-40%);
}

.long-field a:hover path,
.long-field a:focus path {
    fill: #000000;
}

.long-field a:active path {
    fill: #81B3D2;
}

.arrival-form input:hover {
    background-color: #ebebeb;
    border: 2px solid transparent;
}

.arrival-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}

/*короткие поля (взрослые и дети)*/

.short-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.short-field:first-child {
    flex-grow: 3;
    margin-right: 42px;
}

.short-field:last-child {
    flex-grow: 2;
}

.adult-picker,
.children-picker {
    background-color: #f2f2f2;
}

.adult-picker .input,
.children-picker .input {
    display: block;
    width: 38px; 
}

.adults,
.children {
    width: 36px;
    height: 36px;
    background: #f2f2f2;
    border: none;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

.minus,
.plus {
    width: 38px;
    height: 36px;
    border: none;
    position: relative;
    background: #f2f2f2;
    cursor: pointer;
}

.minus::before,
.plus::before {
    position: absolute;
    content: " ";
    width: 12px;
    height: 3px;
    background-color: #A9A9A9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plus::after {
    position: absolute;
    content: " ";
    width: 12px;
    height: 3px;
    background-color: #A9A9A9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.minus:hover::before,
.minus:focus::before,
.plus:hover::before,
.plus:focus::before,
.plus:hover::after,
.plus:focus::after {
    background-color: black;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
    background-color: #81B3D2;
}

/*кнопка "найти"*/
.button-search {
    width: 100%;
    height: 58px;
    background-color: #81B3D2;
    border: 2px solid transparent;
}

.button-search:hover,
.button-search:focus {
    background-color: #669EC0;
    outline: none;
    border: 2px solid #e5e5e5;
}

.button-search:active{
    background-color: #5496BD;
    color: #87B5D1;
}

.form label {
    font-weight: bold;
}


/*Footer*/

.footer {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 36px;
    padding-right: 101px;
    padding-left: 123px;
    background-color: white;
}

.contacts {
    width: 252px;
    margin-right: 148px;
}

.contacts-phone {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
}

.social {
    width: 151px;
    padding-top: 6px;
}

.contacts p {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 6px;
}

ul.social-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #7FB1CF;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    margin-bottom: 6px;
    margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
    background-color: #669EC0;
}

.social-button:active {
    background-color: #5496BD;
    opacity: 0.3; 
}

.icon-tw {
    background-image: url("../img/twitter.svg");  
    background-size: 40%;
}

.icon-fb {
    background-image: url("../img/fb-icon.svg");
    background-size: 30%;
}

.icon-yt {
    background-image: url("../img/youtube.svg");
}

.academy {
    display: flex;
    width: 197px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.academy p {
    margin-top: 10px;
}

.footer-logo:hover path,
.footer-logo:focus path {
    fill: #81B3D2;
}

.footer-logo:active path {
    fill: #BDBBBC;
}

/*Внутренняя страница - отели*/
.results {
    margin: 0 auto;
    display: flex;
    padding: 29px 72px 28px 72px;
}

.results h2 {
    margin: 0;
    margin-right: 48px;
}

.results h3 {
    margin: 0;
    margin-right: 40px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 18px;
}

.results ul {
    margin: 0;
    padding: 0;
    padding-top: 2px;
}

.results li {
    margin-right: 33px;
    
}

.list-filter a {
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px;
    color: #B2B2B2; 
    border-bottom: 1px dotted #81B3D2;
}

.list-filter a:hover,
.list-filter a:focus {
    color: #81b3d2;
} 

.list-filter a:active {
    color: black;
}

.list-filter li:active {
    border: none;
}

.results .res-active {
    border: none;
}

.res-active a {
    color: #81B3D2;
    border: none;
}

.list-filter {
    display: flex;
    justify-content: space-between;
}

.results-arrows {
    margin-left: auto;
    padding-top: 4px;
}

.arrow-up {
    margin-right: 10px;
}

.arrow-down.active path{
    fill: #81b3d2;
}

.arrow-up:hover path,
.arrow-up:focus path,
.arrow-down:hover path,
.arrow-down:focus path {
    fill: black;
}

.arrow-up:active path,
.arrow-down:active path {
    fill: #81b3d2;
}

.catalog ul {
    margin: 0;
    padding: 0;
}

.catalog p {
    line-height: 21px;
}

.catalog-items {
    display: flex;
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
    border-bottom: 1px solid #E5E5E5;
}

.catalog-items:first-child {
    border-top: 1px solid #E5E5E5;
}

.catalog-items img {
    margin-right: 30px;
    margin-top: 6px;
}

.card-description {
    display: flex;
}

.wrap-content h3 {
    margin: 0px;
}

.catalog .button-more {
    margin-right: 8px;
}

.wrap-content p {
    margin-top: 10px;
    margin-bottom: 14px;
}

.card-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-top: 4px;
    width: 15%;
}

.card-rating img {
    margin: 0;
}

.card-rating p {
    text-align: right;
    margin: 0;
    padding: 3px 16px;
    background-color: #F2F2F2;
}

.results ul,
.catalog ul  {
    list-style: none;
}

.catalog h3 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.more, /*это стили кнопок в блоке выбора отелей "подробнее" и "забронировать"*/
.reserve {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    padding: 4px 16px;
    color: #ffffff;
}

.more {
    background-color: #81b3d2;
}

.more:hover,
.more:focus {
    background-color: #669ec0;
}

.more:active {
    background-color: #5496bd;
    color: #87B5D1;
}

.reserve{
    background-color: #766357;
}

.reserve:hover,
.reserve:focus {
    background-color: #604e43;
}

.reserve:active {
    background-color: #503e33;
    color: #847870;
}

.filters{
    background-color: lightslategrey;
    background-image: url(../img/filter_background.jpg);
    background-position-y: -55px;
    display: flex;
    padding: 26px 72px 29px 72px;
    margin: 0 auto;
    color: #ffffff;
}

.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filters .comfort {
    margin-right: 116px;
}

.filters legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 25px;
}

.checkbox-wrap {
    margin-bottom: 20px;
}

.checkbox-wrap:last-child {
    margin-bottom: 0;
}

.label-checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 21px;
}
.label-checkbox::before{
    content: "";
    /* position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); */
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    margin-right: 14px;
}
.form-checkbox:checked ~ .label-checkbox::before{
    background-image: url("../img/checkbox-on.svg");
}
.form-checkbox:disabled ~ .label-checkbox::before{
    background-image: url("../img/checkbox-off-disabled.svg");
}
.form-checkbox:checked:disabled ~ .label-checkbox::before{
    background-image: url("../img/checkbox-on-disabled.svg");
}

/* фильтр-ползунок */

.filter-range {
    width: 330px;
    box-sizing: content-box;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
}
  
.filter-range-title {
    margin-bottom: 9px;
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    height: 27px;
    padding-top: 8px;
    margin-bottom: 18px;
    margin-left: 12px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
    
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
  
    cursor: pointer;
}

.price-controls label::before,
.price-controls label::after {
    box-sizing: content-box;
}
  
.price-controls .min-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls .max-price {
    width: 90px;
    padding-left: 55px;
}
  
.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
    margin-bottom: 32px;
    margin-left: 12px;
}
  
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1);
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}