body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;

    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

p {
    color: #333333;
}

a {
    text-decoration: none;
}

/*Header*/
.main-header {
    display: flex;
    min-height: 56px;
    background-color: white;
    justify-content: center;
}

.main-navigation {
}

.site-navigation {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    /*Как сделать, чтобы лого выпадал из блока flex на блок с изображением*/
}

.nav {

}

ul.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;

}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:visited {
    color: rgba (black 0.3);
}

/*Главный экран*/
.welcome section {
    margin: 0 auto;
}

.welcome {
    height: 508px;
    width: 1200px;
    background-color: gray;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    left: 50%;
    margin-left: -600px;
}

.intro-svg {
    top: 76px;
    margin: 0 auto;
    left: 50%;
    margin-left: -228px;
    position: absolute;
}

.polygon {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    bottom: -9px;
}

/*Блок преимуществ*/
.feautures-list,
.recomend-list {
    list-style: none;
}

.section1,
.feauture-item,
.recomend-item {
    text-align: center;
    background-color: #ffffff;
}

.section1 {
    display: flex;
    min-height: 216px;
    min-width: 500px; /*почему когда я добавляю width: то блок съезжает влево
    при этом свойство min-width: не позволяет переносить строку*/
    flex-direction: column;
    justify-content: center;
}

.feautures-list h3 {
    font-size: 21px;
    line-height: 21px;
}

.feautures-list p {
    line-height: 21px;
}

.feautures-list .block {
    background-color: #81b3d2;
}

.pre-form {
    text-align: center;
}
.pre-form p:first-child {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

/*Форма заявки на бронирование*/

button {
    font: inherit;
    text-transform: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}

.pre-form {
    display: flex;
    min-height: 291px; 
    /*почему остальные элементы не вылазят за ширину кнопки*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    /*временно*/
    background-color: #81b3d2;
}

.pre-form button {
    width: 568px;
    height: 86px;
    margin-bottom: 0;
}

.pre-form p:first-child {
    margin-bottom: 0;
}

.pre-form p:nth-child(2) {
    margin-top: 0;
}

.arrival-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 568px;
    height: 395px;
    background-color: #ebebeb;
    margin: 0 auto;
}

.form-fields {
    display: flex;
    width: 458px;
    height: 172px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}

.long-field,
.short-field {
    height: 38px;
}

.short-field .input {
    width: 346px;
}

.short-field {
    width: 226px;
}

.short-field .input {
    width: 114px;
}

.search-end {
    width: 458px;
    height: 58px;
    margin-bottom: 55px;
}

.button-search-index {
    background-color: #766357;
}

.button-search-index:hover,
.button-search-index:focus {
    background-color: #604E43;
}

.button-search-index:active {
    background-color: #503E33;
    color: #847870;
}

.arrival-form input[type="text"] {
    font: inherit;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;

}

.arrival-form input:hover {
    background-color: #ebebeb;
}

.arrival-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-end {
    background-color: #81B3D2;
}

.search-end:hover,
.search-end:focus, {
    background-color: #669EC0;
}

.search-end:active{
    background-color: #5496BD;
    color: #87B5D1;
}

.form label {
    font-weight: bold;
}


/*Footer*/
.contacts p {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

ul.social-list {
    list-style: none;
    background-color: #7FB1CF;
}

ul.social-list:hover,
ul.social-list:focus  {
    background-color: #669EC0;
}

ul.social-list:active {
    background-color: #5496BD;
    /*не понятно, как задать затемнение белого на иконке при активации*/
}

/*Внутренняя страница - отели*/
.site-navigation a:visited {
    color: #766357;
}

.results ul,
.catalog ul  {
    list-style: none;
}

.catalog h3 {
    font-size: 21px;
    font-weight: bold;
}

.catalog p {
    line-height: 21px;
}

.more, /*это стили кнопок в блоке выбора отелей "подробнее" и "забронировать"*/
.reserve {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}

.more {
    background-color: #81b3d2;
}

.more:hover,
.more:focus {
    background-color: #669ec0;
}

.more:active {
    background-color: #5496bd;
    color: #87B5D1;
}

.reserve{
    background-color: #766357;
}

.reserve:hover,
.reserve:focus {
    background-color: #604e43;
}

.reserve:active {
    background-color: #503e33;
    color: #847870;
}